@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
		<section class="productads">
					<section class="itemcolumn">
						<section class="itemrow">
						   <section class="slider">
	 						<a href="/Product/Retrosweets"> <img src='assets/colabottles.jpeg' class="sliderimage" alt='A selection of products'> </a>
						    </section>
			
						 </section>

					<section class="itemrow">
			
							<p class="slidertext"> Take a journey down memory lane with
									       our retro sweets </p>
					
					</section>

   				    </section>
					<section class="itemcolumn">	
						<section class="itemrow">						
							<img src="assets/specialoccasions.jpeg" class="sliderimage" alt="Special occasions">
						</section>

					<section class="itemrow">
			
							<p class="slidertext"> Have a special occasion? We have sweets for all occasions </p>									
					</section>

					</section>

					<section class="itemcolumn">	

						<section class="itemrow">						
							<img src="assets/chocolatepouring.jpeg" class="sliderimage" alt="Chocolate">			
						</section>	
					
						<section class="itemrow">			
							<p class="slidertext"> Have a special occasion? We have sweets for all occasions </p>									
						</section>
					</section>

			</section>


	</section>	

	<script type="text/javascri